.hide-scrollbar {
  overflow: hidden;
}

html {
  overflow: hidden;
  height: 100%;
}

body {
  font-family: 'Perfect DOS VGA 437', monospace;
  margin: 0;
  padding: 0;
  height: 100%;
  cursor: url('../assets/cursors/arrow.cur'), auto;
  /* background: #3a6ea5; */
  background-image: url('../assets/index/Wind.jpg');
  background-size: cover;
  background-position: center;
  background-repeat:repeat;
  background-attachment: fixed;
  overflow: auto;
  position: relative;
  font-size: large;
  zoom: 100%; /* Adjust the value as needed */
  transition: zoom 0.3s; /* Add a transition for smooth resizing */
  /* margin-top: -15px; cut off the cdp site header */

}

button {
  cursor: url('../assets/cursors/Cursor_15.cur'), auto;
  
}

.windows-container {
  display: flex; /* Set the parent container as a flex container */
  justify-content: space-between; /* Distribute items along the main axis */
  align-items: center; /* Align items vertically */
  gap: 10px; /* Add spacing between windows */
  margin-top: 20px; /* Add some top margin */
  padding: 5vw;
}

.window {
  animation: wobble 8s infinite;
  overflow: hidden; /* Hide content that overflows the window */
  margin:2px;
  height:auto;
  /* display: flex; Use flexbox to center content vertically and horizontally */
  /* flex-direction: column; Stack content vertically */
  /* align-items: center; Center content horizontally */
}

.title-bar {
  flex-shrink: 0; /* Prevent title bar from affecting the body height */
  cursor: url('../assets/cursors/Cursor_15.cur'), auto;
  margin-bottom: 2px;
}

.window.quarter {
  width: calc(25% - 20px);
  max-width: calc(100% - 40px);
}

.window.half {
  width: calc(50% - 20px);
  max-width: calc(100% - 40px);
}

.window.full {
  width: calc(100% - 40px);
  max-width: calc(100% - 40px);
}


.window-body {
  position: relative; /* Set to relative positioning */
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
  height: fit-content;
  width: auto;
  cursor: url('../assets/cursors/arrow.cur'), auto;
  margin: 0;

}

/* Style videos, images, and text-content to fit their containers */
.window-body video,
.window-body img,
.window-body .text-content {
  font-size: large;
  max-width: 100%;
  max-height: 100%;
  height: auto;
  cursor: url('../assets/cursors/arrow.cur'), auto;

}

.text-content {
  margin-left:8px;
  margin-right:8px;
  margin-bottom:4px;
  margin-top:0px;

}

.window-body:not(.text-content) {
  display: flex; /* Use flexbox to center content vertically and horizontally */
  flex-direction: column; /* Stack content vertically */
  align-items: center; /* Center content horizontally */
  justify-content: center; /* Center content vertically */
  height: 100%; /* Make the content fill the window's height */
  width: 100%; /* Make the content fill the window's width */
  flex:1;
}

.window.about {
  position: relative;
  min-height: 20vh;
  height:auto;
  max-width: 30vw;
  vertical-align: middle;
  /* left:10%; */
  margin-top: -8%;
  margin-bottom:5vh;
  /* color: #3008f5; */
  font-size: large;
  z-index: 9001;
}

/* .window.about .window-body {
  color:#ff0000
} */

.ticker-container {
  display: block;
  width: 100%;
  overflow: hidden;
  color: #ff0000;
  position: relative; /* Change to relative positioning */
  height: 50px;
}

.ticker-text {
  font-size: larger;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 100%; /* Start off-screen to the right */
  white-space: nowrap;
  animation: ticker 10s linear infinite; /* Apply the ticker animation */
  z-index: 5;
}

.sub-section.large {
  flex-basis: 50%;
  height: 100%;
}

.right-container {
  display: grid;
  grid-template-columns: 1.25fr 0.85fr;
  grid-template-rows: 1.25fr 2fr, 1fr;
  flex-basis: 50%;
  height: 100%;
}

.sub-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sub-section:nth-child(1) {
  grid-row: 1;
  grid-column: 1;
}

.sub-section:nth-child(2) {
  grid-row: 2;
  grid-column: 2;
}

.sub-section:nth-child(3) {
  grid-row: 3;
  grid-column: 1;
}

.floating {
  position: relative;
  text-align: justify;
  padding-left: 5%;
  padding-right: 5%;
  display: inline-block;
  z-index: 2;
  cursor: url('assets/cursors/cursor_15.cur'), auto;
  /* visibility: hidden; */
}

.floating img {
  max-width: 100%;
  height: auto;
}

.bouncing-container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1; /* To place it behind other elements */
  overflow: hidden; /* To prevent scrolling */
}

/* Style for the bouncing divs */
.bouncing {
  position: absolute;
  width: 40px; /* Adjust the width and height as needed */
  height: 40px;
  /* border-radius: 50%; To make it circular */
  opacity: 0.7;
  cursor: url('assets/cursors/cursor_15.cur'), auto;
}

.monochrome {
  filter: grayscale(100%) brightness(100%);
}

.hidden {
  display: none;
}

/* Add the "grab" cursor style to draggable windows */
.window.ui-draggable {
  cursor: url('../assets/cursors/Cursor_15.cur'), auto;
}

/* Change cursor to "grabbing" when dragging */
.window.ui-draggable-dragging {
  cursor: url('../assets/cursors/grabbing.cur'), auto;
}

#header {
  position:relative;
  height: 25vh;
  right:40%;
}

#window-ticker{
  margin: 5%;
  width: 300px;
  display: inline-block;
  left: 70%;
  cursor: url('../assets/cursors/Cursor_3.cur'), auto;
  
}

#lineCanvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

#splash-window {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 90000;
  background-color: black;
  box-sizing: border-box;
  margin: 0 !important;
  padding: 0 !important;
}

#command-prompt {
  font-size: x-large;
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  resize: none;
  overflow: hidden;
  font-family: 'Perfect DOS VGA 437', monospace;
  background-color: #0827F5;
  color: #eeff00;
  box-sizing: border-box;
  padding: 1%;
  margin: 0 !important;
}

#WFH_DJ {
  position: relative;
  /* justify-content: center; Center the windows horizontally */
  /* align-items: center; Center the windows vertically */
  /* width: 80vw; */
  height: auto;
  /* left: 15%; */
  margin: 5vw;
}


.audio-player {
  display: flex;
  align-items: center;
  flex-direction: row; /* Align content vertically */
  margin-left: 1%;
  width: 100%; /* Occupy the full width of the container */
}

.field-row {
  width: 400px; /* Set a specific width for the slider */
  margin: 1%;
}

.field-row p {
  width: 100%; /* Expand the <p> tag to the full width of the container */
  text-align: center; /* Center the text horizontally */
}

.field-row.audio-player {
  display: flex;
  /* flex-direction: column; */
  align-items: left;
  margin: 1px; /* Adjust margin as needed */
}

/* Ensure that the p tag expands properly */
.field-row.audio-player p {
  flex: 1; /* Allow the p tag to expand to fill the available space */
}


#bio{
  font-size: larger;
  left:20%;
  margin:2vw;
  margin-bottom: 1vh;
  width:50%;
}

#bio img {
  max-width:30px;
}


#audioButton {
  cursor: pointer;
}

#playButton,
#pauseButton {
  cursor: pointer;
  width: 30px;
  height: 30px;
}

.status-bar {
  flex-shrink: 0;
}


#radio-container {
  position: relative;
  display: flex;
  flex-wrap: wrap; /* Allow wrapping to create a grid layout */
  justify-content: center; /* Center the windows horizontally */
  align-items: center; /* Center the windows vertically */
  /* max-height: 60vh; */
  width:70%;
  margin-left:5%;
  margin-right:5%;
  /* height: auto; */
  /* left: 4%; */
}

#radio-container .about {
  left: 5%;
  top:10%;
}


#point, #area, #combined, #polyline {
  width: 30%; /* Each window takes up a bit less than half of the container's width with spacing */
  height: auto;
  /* position:absolute; */
  /* padding: 2vw; */
  z-index: 2;
}

#point {
  top: 0;
  left: 10%;
  transform: translate(0, -5%);
  width:35%;
  margin-bottom:-5%;
  margin-left:2%;
  margin-right: -17%;
}

#area {
  top: 0;
  left: 20%;
  width:30%;
  margin-bottom:-15%;
  margin-right:-1%;
  margin-left:10%;

}

#combined {
  top: 0;
  left: 0;
  transform: translate(-2%, -5%);
  margin-top: -10%;
  margin-left:-15%;
  width:55%;
  z-index: 1;
}

#polyline {
  top: 0;
  left: 15%;
  transform: translate(0, -5%);
  margin-top: 5%;
  margin-left: -10%
}

#refresh-button{
  /* color: red; */
}

h1 { font-family: Papyrus, fantasy; font-size: 10px; font-style: normal; font-variant: small-caps; font-weight: 700; line-height: 11px; } 

@font-face {
  font-family: 'Perfect DOS VGA 437';
  src: url('PerfectDOSVGA437.eot');
  src: url('PerfectDOSVGA437.eot?#iefix') format('embedded-opentype'),
    url('PerfectDOSVGA437.woff2') format('woff2'),
    url('PerfectDOSVGA437.woff') format('woff'),
    url('PerfectDOSVGA437.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@keyframes wobble {
  0% { transform: translateX(0px) scale(1); }
  50% { transform: translateX(-10px) scale(0.98); }
  100% { transform: translateX(0px) scale(1); }
}

@keyframes ticker {
  from {
    left: 100%;
  }
  to {
    left: -100%;
  }
}

