<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>{{ title }}</title>
    <meta name="description" content="An archive of student final projects from the Computation Design Practices degree program at Columbia GSAPP." />
    <link rel="icon" href="/favicon.ico" sizes="any">
    <link rel="icon" href="/favicon.svg" type="image/svg+xml">
    <link href="/base.css" rel="stylesheet" />
    <link href="/main.css" rel="stylesheet" />
    <link href="/colloquium1.css" rel="stylesheet" />
  </head>
  <body>
    <header class="container">
      <div class="header-context">
        <div class="h2">
          <a
            class="fade"
            href="https://www.arch.columbia.edu/programs/15-m-s-computational-design-practices"
            target="_blank">Columbia GSAPP</a>
        </div>
      </div>
      <div class="header-title">
        <div class="h1">
          <a class="fade" href="/">Computational Design Practices</a>
        </div>
        <div class="h2">{{ title }}</div>
      </div>
      <div class="header-nav">
        <div class="h2">
          <a class="fade" href="/about">About</a>
        </div>
      </div>
    </header>
    <main>
      <div class="container">
        {{ content }}
      </div>
    </main>
  </body>
</html>