body {
    background-color: black;
    margin: 0; /* Remove default body margin */
    font-family: Helvetica, Arial, sans-serif; /* Use Helvetica font */
    color: white; /* Set text color to white for better visibility */
    margin-left: 10px; /* Add left margin of 10 pixels */
    margin-right: 10px; /* Add right margin of 10 pixels */
    margin-top: 10px;
    text-align: center;
  }

header {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 10px;
    font-family: Helvetica, sans-serif; /* Set the font-family */
}
  
  .container {
    display: flex;
    flex-wrap: wrap;
    margin: 0px; /* Adjust spacing as needed */
    position: relative;
  }
  
  .column {
    box-sizing: border-box;
    padding: 10px; /* Adjust spacing as needed */
    margin: 25px;
    position: relative;
  }
  
  .half-width {
    width: 50%;
    margin: 25px;
    position: relative;
    text-align: left;
    line-height: 1.3;
    flex: 1;

  }
  
  .two-thirds-width {
    width: 66.66%;
    margin: 25px;
    position: relative;
    text-align: left;
    line-height: 1.3;
    flex: 2;


  }
  
  .third-width {
    width: 33.33%;
    margin: 25px;
    position: relative;
    text-align: left;
    line-height: 1.3;
    flex: 1;


  }
  
  .fourth-width {
    width: 25%;
    margin: 25px;
    position: relative;
    text-align: left;
    line-height: 1.3;


  }

  .full-width {
    width: 100%;
    margin: 25px;
    position: relative;
    text-align: center;
    line-height: 1.3;


  }

.overlay-text {
    position: absolute;
    top: 50%; /* Position at vertical center */
    left: 50%; /* Position at horizontal center */
    transform: translate(-50%, -50%); /* Center-align the text */
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    color: white;
    padding: 10px;
    border-radius: 5px;
    visibility: hidden; /* Start with text hidden */
    opacity: 0; /* Start with opacity at 0 */
    transition: opacity 0.3s;
}

.image-container:hover .overlay-text {
  visibility: visible; /* Show text on hover */
  opacity: 1; /* Fade in text on hover */
}

  .padded-container {
    padding-top: 50px; /* Adjust the padding value as needed */
  }

.image-container {
    max-width: 100%; /* Ensures the container doesn't exceed its parent's width */
}

.image-container img {
    max-width: 100%; /* Scale the image to fit within the container */
    height: auto; /* Maintain the aspect ratio of the image */
    display: block; /* Removes any extra space below the image */
}

.video-container {
    max-width: 100%; /* Ensures the container doesn't exceed its parent's width */
    overflow: hidden; /* Hide any overflow */
  }
  
  .video-container video {
    max-width: 100%; /* Scale the video to fit within the container */
    height: auto; /* Maintain the aspect ratio of the video */
    display: block; /* Removes any extra space below the video */
  }

